/* Imports
*******************************************************************************/
@import url(//fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(//fonts.googleapis.com/css?family=Press+Start+2P);
@import url(//fonts.googleapis.com/css?family=Orbitron:400,700|Audiowide);
@import 'popup.css';

/* Base & Defaults
*******************************************************************************/
* { box-sizing: border-box; }
html { height: 100%; }

body {
    margin: 0;
    color: #fafafa;
    height: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(#5AB4FF, #2A004C);
    font-family: Orbitron, monospace;
    font-weight: 400;
}

a {
    color: cyan;
    text-decoration: none;
}
a:hover {
    color: deeppink;

}

input[type="text"],
input[type="email"],
input[type="password"]
{
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: Orbitron, monospace;
    letter-spacing: 2px;
    border: 2px solid rgba(200, 255, 255, 0.9);
}

button {
    font-size: 28px;
    border-radius: 5px;
    padding: 8px 20px;
    color: #005A74;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 255, 255, 0.9);
    font-family: Orbitron, monospace;
    box-shadow: 0 0 10px cyan;
    margin: 0 20px;
}
button:hover {
    text-shadow: 0 0 2px deeppink;
    color: deeppink;
    box-shadow: 0 0 20px cyan;
}


/* Cosmetic effects
*******************************************************************************/
.hologram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(transparent 0%, rgba(10, 16, 10, 0.5) 80%);
    background-size: 100% 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.scramble {
    color: cyan;
    text-shadow: 0 0 10px rgba(50, 255, 50, 0.5), 0 0 5px rgba(100, 255, 100, 0.5);
}
.scramble span {
    display: inline-block;
}
.scramble .done {
    color: white;
}


/* Layout & Interface elements
*******************************************************************************/
#title {
    font-family: Audiowide, monospace;
    font-weight: bold;
    line-height: 90px;
    font-size: 100px;
    text-transform: uppercase;
    color: #eee;
    transform: perspective(10px) rotateX(1deg);
    margin-top: -100px;
    margin-bottom: 80px;
    align-self: center;
    padding-left: 20px;
}
#title > span:last-child {
    letter-spacing: 44px;
}

#actions {
    align-self: center;
    transform: perspective(200px) rotateX(10deg);
    height: 51px;
}

#info {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
}

button {
    display: none;
}