/* Popup window custom styles
*******************************************************************************/
.popup {
    font-family: "Orbitron", monospace;
    background-color: rgba(10, 10, 40, 0.96);
    background-image: linear-gradient(transparent 0%, rgba(10, 16, 10, 0.5) 70%);
    background-size: 100% 3px;
    /*box-shadow: 0 0 14px rgba(255, 20, 147, 0.95), 0 14px 28px rgba(0, 255, 255, 0.5);*/
    box-shadow: 0px -1px 5px rgba(255, 20, 147, 0.8), 0px 1px 5px rgba(0, 255, 255, 0.8);
}
.popup input {
    display: block;
}
.popup fieldset {
    display: none;
}
.popup h2 {
    color: white;
    text-shadow: 0 0 20px cyan;
    margin-top: 10px;
}
.popup button {
    font-family: Orbitron, monospace;
    font-size: 22px;
    padding: 2px 24px;
    border: none;
    border-radius: 5px;
    color: #005A74;
    cursor: pointer;
    box-shadow: 0 0 5px cyan;
    margin: 20px 10px;
}
.popup button:hover,
.popup button:focus {
    box-shadow: 0 0 8px cyan;
    text-shadow: none;
    color: rgb(0, 0, 50);
}
.popup button.confirm {
    background-color: #AEDEF4;
}
.popup button.confirm:hover,
.popup button.confirm:focus {
    background-color: rgba(0, 255, 255, 0.9);
}
.popup button.cancel {
    background-color: #AEDEF4;
}
.popup button.cancel:hover,
.popup button.cancel:focus {
    background-color: rgba(0, 255, 255, 0.9);
}
.popup .sa-error-container {
    background-color: rgba(150, 0, 0, 0.5);
}
.popup p {
    color: white;
}
.popup .sa-icon.sa-success::before,
.popup .sa-icon.sa-success::after,
.popup .sa-icon.sa-success .sa-fix {
    background-color: rgba(10, 10, 40, 0.6);
}