/* Imports
*******************************************************************************/
@import url(//fonts.googleapis.com/css?family=Source+Code+Pro:400);
@import url(//fonts.googleapis.com/css?family=Orbitron:400,700);
@import 'popup.css';
@import 'effects/glitch.css';
@import 'effects/loading.css';


/* Base & Defaults
*******************************************************************************/
* { box-sizing: border-box; }
html { height: 100%; }

body {
    margin: 0;
    color: #fafafa;
    height: 100%;
    #background: url('../img/bg.jpg') no-repeat top center fixed;
    #background-size: cover;
    #background: radial-gradient(#66B9DD, #05001B);
    #background: radial-gradient(#3FB9D5, #05001B);
    #background: radial-gradient(#1B91A0, #1B0038);
    background: radial-gradient(#4798DB, #10011D);
    font-family: Orbitron, monospace;
    font-weight: 400;
    min-width: 1024px;
    min-height: 700px;
    display: flex;
    align-items: stretch;
    overflow: hidden;
}
@media (max-width: 1024px) {
    body {background-size: 1024px 100%;}
}

input[type="text"],
input[type="email"],
input[type="password"]
{
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: Orbitron, monospace;
    letter-spacing: 2px;
    border: 2px solid rgba(200, 255, 255, 0.9);
}

button {
    font-size: 28px;
    border-radius: 5px;
    padding: 8px 20px;
    color: #005A74;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 255, 255, 0.9);
    font-family: Orbitron, monospace;
    box-shadow: 0 0 10px cyan;
    margin: 0 20px;
}
button:hover {
    text-shadow: 0 0 2px deeppink;
    color: deeppink;
    box-shadow: 0 0 20px cyan;
}

h2 {
    text-shadow: 0 1px 10px rgba(255, 0, 255, 0.8);
    color: rgb(244, 229, 255);
}

::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.50);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(0, 225, 255, 0.80);
    box-shadow: 0 0 4px rgba(0, 255, 255, 0.80);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 144, 173, 0.74);
}


/* Cosmetic effects
*******************************************************************************/
.hologram {
    filter: blur(5px);
    background-image: linear-gradient(transparent 0%, rgba(10, 20, 20, 0.5) 100%);
    background-image: linear-gradient(rgba(34, 118, 213, 0.3) 0%, rgba(10, 20, 20, 0.5) 100%);
    background-size: 100% 3px;
}

.scramble {
    color: cyan;
    text-shadow: 0 0 10px cyan;
}
.scramble span {
    display: inline-block;
    width: 27px;
}
.scramble .done {
    color: white;
}


/* Layout
*******************************************************************************/
#left {
    flex-shrink: 0;
    width: 200px;
    box-shadow: 2px 0px 4px rgba(0, 150, 200, 0.2);
    border-right: 2px solid rgba(0, 40, 80, 0.3);
}

#right {
    flex-shrink: 0;
    width: 200px;
    box-shadow: -2px 0px 4px rgba(0, 150, 200, 0.2);
    border-left: 2px solid rgba(0, 40, 80, 0.3);
}

#middle {
    flex-grow: 1;
    position: relative;
    margin: 65px 25px 20px;
    border: 2px solid rgba(0, 40, 80, 0.3);
    border-radius: 50% / 3%;
    #border-radius: 500px / 20px;
    box-shadow: 0 -50px 5px rgba(0, 255, 255, 0.6), 0px 5px 3px rgba(0, 200, 255, 0.4);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-size: 100% 3px;
}

/* Left navigation section elements
*******************************************************************************/
#profile-picture {
    cursor: pointer;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 9px solid rgba(1, 17, 27, 0.39);
    box-sizing: content-box;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
    transition: box-shadow .2s;
    overflow: hidden;
}
#profile-picture:hover {
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.6);
    transition: box-shadow .2s;
}

#points {
    text-align: right;
    margin-right: 20px;
    color: gold;
    font-size: 14px;
}
#points::before {
    content: '$ ';
    color: darkgoldenrod;
}

#main-menu {
    margin-top: 20px;
}
#main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#main-menu .menu-item {
    display: flex;
    cursor: pointer;
    padding: 15px 20px;
}
#main-menu .menu-item > span {
    font-weight: 400;
    font-size: 16px;
    #text-transform: uppercase;
    letter-spacing: 1px;
}

/* Main screen elements
*******************************************************************************/
#frame h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: -44px;
    font-size: 32px;
    line-height: 34px;
}
#frame .buttons {
    position: absolute;
    top: -26px;
    right: 20px;
}
#frame .buttons > div:hover {
    cursor: pointer;
    text-shadow: 0 0 3px cyan;
}

main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: inherit;
}
main .content {
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

.loading {
    align-self: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-top: -50px;
}

.columns {
    display: flex;
}
.columns .column {  }
.columns .column.grow { flex-grow: 1; flex-basis: 0; }
.columns .column.shrink { flex-shrink: 1; }

.item {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-bottom: 4px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px 0;
    box-shadow: 0 0 5px rgb(0, 100, 118);
    font-size: 13px;
    position: relative;
}
.item:hover {
    box-shadow: 0 0 10px cyan;
    cursor: pointer;
    background: rgba(0, 50, 50, 0.5);
}

/* Right sidebar elements
*******************************************************************************/


/* Matches
*******************************************************************************/
.page-matches .teams > span {
    color: cyan;
    font-weight: bold;
}
.page-matches .teams img { vertical-align: middle; }
.page-matches .time > span {
    color: gold;
}

/* Match details
*******************************************************************************/
.page-match-details .time > span {
    color: gold;
}
.page-match-details .column.grow h2 {
    color: cyan;
}
.page-match-details .column > div {
    margin-bottom: 10px;
}
.page-match-details .labels {
    width: 240px;
}

/* Users
*******************************************************************************/
.page-users .item {
    text-align: left;
    padding: 5px 10px;
    display: flex;
}
.page-users img { vertical-align: middle; }
.page-users img.avatar {
    margin-right: 15px;
}
.page-users .points { align-self: center; }
.page-users .points > span {
    color: gold;
}
.page-users .points > span::before {
    content: '$ ';
    color: darkgoldenrod;
}
.page-users .badges {
    text-align: center;
}
.page-users .badges > div {
    position: absolute;
    right: 230px;
    top: 10px;
}
.page-users .badges .badge {
    display: inline-block;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-size: 200%;
    border-radius: 3px;
}