/* Imports
***********************************************************************************************************************/
/*@import url(//fonts.googleapis.com/css?family=Source+Code+Pro:400);*/
@import url(//fonts.googleapis.com/css?family=Orbitron:400,700);
@import 'popup.css';
@import 'effects/glitch.css';
@import 'effects/loading.css';


/* Base styles & defaults
***********************************************************************************************************************/
* { box-sizing: border-box; }
html { height: 100%; }
body {
    margin: 0;
    color: #fafafa;
    height: 100%;
    /*#background: url('../img/bg.jpg') no-repeat top center fixed;
    #background-size: cover;
    #background: radial-gradient(#66B9DD, #05001B);
    #background: radial-gradient(#3FB9D5, #05001B);
    #background: radial-gradient(#1B91A0, #1B0038);*/
    background: radial-gradient(#4798DB, #10011D);
    font-family: Orbitron, monospace;
    font-weight: 400;
    min-width: 1024px;
    min-height: 700px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
}
@media (max-width: 1024px) {
    body {background-size: 1024px 100%;}
}

/* Forms */
input[type="text"],
input[type="email"],
input[type="password"]
{
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: Orbitron, monospace;
    letter-spacing: 2px;
    border: 2px solid rgba(200, 255, 255, 0.9);
}

/* Buttons */
button {
    font-size: 18px;
    border-radius: 5px;
    padding: 6px 20px;
    color: #005A74;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 255, 255, 0.9);
    font-family: Orbitron, monospace;
    box-shadow: 0 0 5px cyan;
}
button:hover {
    text-shadow: 0 0 2px deeppink;
    color: deeppink;
    box-shadow: 0 0 10px cyan;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.50);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(0, 225, 255, 0.80);
    box-shadow: 0 0 4px rgba(0, 255, 255, 0.80);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 144, 173, 0.74);
}


/* Cosmetic effects
***********************************************************************************************************************/
/* Blue tinted hologram screen effect */
.hologram {
    filter: blur(5px);
    #background-image: linear-gradient(transparent 0%, rgba(10, 20, 20, 0.5) 100%);
    background-image: linear-gradient(rgba(34, 118, 213, 0.3) 0%, rgba(10, 20, 20, 0.5) 100%);
    background-size: 100% 3px;
}

/* Text scrambling effect */
.scramble {
    color: cyan;
    text-shadow: 0 0 10px cyan;
}
.scramble span {
    display: inline-block;
    width: 27px;
}
.scramble .done {
    color: white;
}


/* Layout
***********************************************************************************************************************/
/* Left navigation section */
#left {
    flex-shrink: 0;
    width: 200px;
    box-shadow: 2px 0 4px rgba(0, 150, 200, 0.2);
    border-right: 2px solid rgba(0, 40, 80, 0.3);
    position: relative;
}

/* Right sidebar */
#right {
    flex-shrink: 0;
    width: 200px;
    box-shadow: -2px 0 4px rgba(0, 150, 200, 0.2);
    border-left: 2px solid rgba(0, 40, 80, 0.3);
    position: relative;
}

/* Main screen */
#middle {
    flex-grow: 1;
    position: relative;
    margin: 65px 25px 20px;
    border: 2px solid rgba(0, 40, 80, 0.3);
    border-radius: 50% / 3%;
    #border-radius: 500px / 20px;
    box-shadow: 0 -50px 5px rgba(0, 255, 255, 0.6), 0 5px 3px rgba(0, 200, 255, 0.4);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-size: 100% 3px;
}


/* Left navigation section elements
***********************************************************************************************************************/
/* Profile picture */
#profile-picture {
    cursor: pointer;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 9px solid rgba(1, 17, 27, 0.39);
    box-sizing: content-box;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
    transition: box-shadow .2s;
    overflow: hidden;
}
#profile-picture:hover {
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.6);
    transition: box-shadow .2s;
}

/* Points label */
#points {
    text-align: right;
    margin-right: 20px;
    color: gold;
    font-size: 14px;
}
#points::before {
    content: '$ ';
    color: darkgoldenrod;
}

/* Main menu */
#main-menu {
    margin-top: 20px;
}
#main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#main-menu .menu-item {
    display: flex;
    cursor: pointer;
    padding: 15px 20px;
}
#main-menu .menu-item > span {
    font-weight: 400;
    font-size: 16px;
    #text-transform: uppercase;
    letter-spacing: 1px;
}

/* Logout button */
#logout {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 160px;
}


/* Main screen elements
***********************************************************************************************************************/
/* Top frame of the central blue box */
#frame h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: -44px;
    font-size: 32px;
    line-height: 34px;
}
#frame .buttons {
    position: absolute;
    top: -26px;
    right: 20px;
}
#frame .buttons > div:hover {
    cursor: pointer;
    text-shadow: 0 0 3px cyan;
}

/* Main content section in the central box */
main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: inherit;
}
main .content {
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    padding-top: 50px;
}

/* Loading circle */
.loading {
    align-self: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-top: -50px;
}

/* Submenu below frame title */
.submenu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 6px 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    text-align: center;
    border-bottom: 2px solid #000;
}
.submenu span {
    text-shadow: 0 1px 10px rgba(255, 0, 255, 0.8);
    color: rgb(180, 130, 255);
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
}
.submenu span.active,
.submenu span:hover {
    font-weight: bold;
    color: rgb(130, 250, 255);
}

/* Styling for column alignment */
.columns { display: flex; }
.columns .column { position: relative; }
.columns .column.grow { flex-grow: 1; flex-basis: 0; }
.columns .column.shrink { flex-shrink: 1; }

/* Styling for a list of items */
.list-item {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 4px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 0;
    box-shadow: 0 0 5px rgb(0, 100, 118);
    font-size: 13px;
    position: relative;
}
.list-item:hover {
    box-shadow: 0 0 5px cyan;
    cursor: pointer;
    background: rgba(0, 50, 50, 0.5);
}


/* Right sidebar elements
***********************************************************************************************************************/



/* Matches
***********************************************************************************************************************/
.page-matches .team {
    color: cyan;
    font-weight: bold;
}
.page-matches .time {
    color: gold;
    font-size: 12px;
}
.page-matches .scores {
    font-size: 20px;
    margin-top: 10px;

}

/* Match details
***********************************************************************************************************************/
.page-match-details .time > span {
    color: gold;
}
.page-match-details .column.grow h2 {
    color: cyan;
}
.page-match-details .column > div {
    margin-bottom: 10px;
}
.page-match-details .labels {
    width: 240px;
}

/* Users
***********************************************************************************************************************/
.page-users .list-item {
    text-align: left;
    padding: 5px 10px;
    display: flex;
}
.page-users img { vertical-align: middle; }
.page-users img.avatar {
    margin-right: 15px;
}
.page-users .points { align-self: center; }
.page-users .points > span {
    color: gold;
}
.page-users .points > span::before {
    content: '$ ';
    color: darkgoldenrod;
}
.page-users .badges {
    text-align: center;
}
.page-users .badges > div {
    position: absolute;
    right: 230px;
    top: 10px;
}
.page-users .badges .badge {
    display: inline-block;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-size: 200%;
    border-radius: 3px;
}