<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>[ SoccerWars ] Game</title>

    <!-- Styles -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.0.1/sweetalert.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

    <!-- Vue Framework components -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/0.12.8/vue.min.js" defer></script>
    <script src="js/plugins/vue-router.js" defer></script>

    <!-- jQuery & other plugins -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Cookies.js/1.2.1/cookies.min.js" defer></script>
    <script src="js/plugins/jquery.neon.min.js" defer></script>
    <script src="js/plugins/sweetalert-dev.js" defer></script>

    <!-- Custom application scripts & components -->
    <script src="js/effects.js" defer></script>
    <script src="js/app.js" defer></script>
    <script src="js/components/dashboard.js" defer></script>
    <script src="js/components/matches.js" defer></script>
    <script src="js/components/match-details.js" defer></script>
    <script src="js/components/teams.js" defer></script>
    <script src="js/components/users.js" defer></script>
    <script src="js/components/profile.js" defer></script>
    <script src="js/routes.js" defer></script>
</head>
<body id="app">

<!-- MAIN PAGE STRUCTURE ---------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------ Left navigation section -->
    <section id="left" class="hologram">

        <!-- Profile picture -->
        <div id="profile-picture" v-link="/profile">
            <img width="150" height="150" v-attr="src: user.avatar.big">
        </div>

        <!-- Points label -->
        <div id="points">
            <span v-text="user.points"></span>
        </div>

        <!-- Main menu -->
        <nav id="main-menu">
            <ul>
                <li v-link="/dashboard" class="menu-item glitch neon">
                    <span data-text="Dashboard">Dashboard</span><span class="menu-icon"></span>
                </li>
                <li v-link="/matches" class="menu-item glitch neon">
                    <span data-text="Matches">Matches</span><span class="menu-icon"></span>
                </li>
                <li v-link="/teams" class="menu-item glitch neon">
                    <span data-text="Teams">Teams</span><span class="menu-icon"></span>
                </li>
                <li v-link="/users" class="menu-item glitch neon">
                    <span data-text="Users">Users</span><span class="menu-icon"></span>
                </li>
                <li v-link="/corporations" class="menu-item glitch neon">
                    <span data-text="Corporations">Corporations</span><span class="menu-icon"></span>
                </li>
                <li v-link="/market" class="menu-item glitch neon">
                    <span data-text="Market">Market</span><span class="menu-icon"></span>
                </li>
            </ul>
        </nav>

        <!-- Logout button -->
        <button id="logout" v-on="click: logout">Logout</button>

    </section>
<!------------------------------------------------------------------------------------------------------ Main screen -->
    <section id="middle" class="hologram">

        <!-- Top portion of the central section -->
        <header id="frame">
            <h1 class="scramble" v-text="title"></h1>
            <div class="buttons">
                <div v-on="click: maximize" v-show="!isMaximized">+</div>
                <div v-on="click: minimize" v-show="isMaximized">-</div>
            </div>
        </header>

        <!-- Main section in the center -->
        <main id="main">
            <!-- Templates will be rendered here -->
            <router-view v-transition="fade" transition-mode="out-in"></router-view>
        </main>

    </section>
<!---------------------------------------------------------------------------------------------------- Right sidebar -->
    <section id="right" class="hologram">

        My bets

    </section>


<!-- TEMPLATES: These elements are invisible and used by the framework to render the content of the pages ------------->
<!----------------------------------------------------------------------------------------------- Dashboard template -->
    <template id="dashboard">
        <div class="loading" v-if="!loaded"><span>Loading...</span></div>
        <div class="content" v-if="loaded">
            <h2>Recent activity and stuff</h2>
        </div>
    </template>
<!------------------------------------------------------------------------------------------------- Matches template -->
    <template id="matches">
        <div class="loading" v-if="!loaded"><span>Loading...</span></div>

        <div class="submenu" v-if="loaded">
            <span v-on="click: submenu('live', $event)" class="active">In progress</span> &diams;
            <span v-on="click: submenu('upcoming', $event)">Upcoming</span> &diams;
            <span v-on="click: submenu('ended', $event)">Ended</span>
        </div>

        <div class="content page-matches" v-if="loaded" v-el="live">
            <div v-repeat="matches | present | orderBy 'end_time'" v-on="click: go(id)" class="list-item">
                <div class="teams">
                    <span v-text="team_1.name"></span>
                    <img v-attr="src: team_1.crest" width="16" height="16">
                    vs
                    <img v-attr="src: team_2.crest" width="16" height="16">
                    <span v-text="team_2.name"></span>
                </div>
                <div class="time">Ends <span v-text="end_time | from_now"></span></div>
            </div>
        </div>

        <div class="content page-matches" v-if="loaded" v-el="upcoming" v-show="false">
            <div v-repeat="matches | future | orderBy 'start_time'" v-on="click: go(id)" class="list-item">
                <div class="teams">
                    <span v-text="team_1.name"></span>
                    <img v-attr="src: team_1.crest" width="16" height="16">
                    vs
                    <img v-attr="src: team_2.crest" width="16" height="16">
                    <span v-text="team_2.name"></span>
                </div>
                <div class="time">Starts <span v-text="start_time | from_now"></span></div>
            </div>
        </div>

        <div class="content page-matches" v-if="loaded" v-el="ended" v-show="false">
            <div v-repeat="matches | past | orderBy 'end_time' -1" v-on="click: go(id)" class="list-item">
                <div class="columns">

                    <div class="column grow team">
                        <div><img v-attr="src: team_1.crest" width="32" height="32"></div>
                        <span v-text="team_1.name"></span>
                    </div>

                    <div class="column shrink">
                        <div class="time"><span v-text="end_time | from_now"></span></div>
                        <div class="scores">
                            <span v-text="progress[0].goals"></span>
                            <span> &dash; </span>
                            <span v-text="progress[1].goals"></span>
                        </div>
                    </div>

                    <div class="column grow team">
                        <div><img v-attr="src: team_2.crest" width="32" height="32"></div>
                        <span v-text="team_2.name"></span>
                    </div>

                </div>
            </div>
        </div>
    </template>
<!------------------------------------------------------------------------------------------- Match details template -->
    <template id="match-details">
        <div class="loading" v-if="!loaded"><span>Loading...</span></div>
        <div class="content page-match-details" v-if="loaded">
            <h2>Match progress</h2>
            <div class="time">Start time: <span v-text="match.start_time"></span></div>
            <div class="columns">

                <div class="column grow" style="text-align: right">
                    <h2 v-text="match.team_1.name"></h2>
                    <div v-text="match.progress[0].goals"></div>
                    <div v-text="match.progress[0].yellow_cards"></div>
                    <div v-text="match.progress[0].red_cards"></div>
                    <div v-text="match.progress[0].defenses"></div>
                </div>

                <div class="column shrink labels">
                    <h2>VS</h2>
                    <div>GOALS</div>
                    <div>Yellow Cards</div>
                    <div>Red Cards</div>
                    <div>Defenses</div>
                </div>

                <div class="column grow" style="text-align: left">
                    <h2 v-text="match.team_2.name"></h2>
                    <div v-text="match.progress[1].goals"></div>
                    <div v-text="match.progress[1].yellow_cards"></div>
                    <div v-text="match.progress[1].red_cards"></div>
                    <div v-text="match.progress[1].defenses"></div>
                </div>

            </div>
            <h2>Bet</h2>
            <div></div>
            <h2>Comments</h2>
            <div></div>
        </div>
    </template>
<!--------------------------------------------------------------------------------------------------- Teams template -->
    <template id="teams">
        <div class="loading" v-if="!loaded"><span>Loading...</span></div>
        <div class="content" v-if="loaded">
            <h2>Teams list</h2>
            <div v-repeat="teams">
                <span v-text="name"></span>
                <div v-text="rank"></div>
            </div>
        </div>
    </template>
<!--------------------------------------------------------------------------------------------------- Users template -->
    <template id="users">
        <div class="loading" v-if="!loaded"><span>Loading...</span></div>
        <div class="content page-users" v-if="loaded">
            <h2>Leaderboard</h2>
            <div v-repeat="users | orderBy 'points' -1" class="list-item columns" v-on="click: go(id)">

                <div class="column shrink">
                    {{$index+1}}. &nbsp;&nbsp;<img v-attr="src: avatar.small" width="32" height="32" class="avatar"><span v-text="name"></span>
                </div>

                <div class="column grow badges">
                    <div>
                        <div v-repeat="badge: badges" v-style="background-image: 'url(' + badge.image + ')',
                                      background-position: badge.unlocked*24 + 'px 0'" v-attr="title: badge.name" class="badge"></div>
                    </div>
                </div>

                <div class="column shrink points">
                    <span v-text="points"></span>
                </div>

            </div>
        </div>
    </template>
<!------------------------------------------------------------------------------------------------- Profile template -->
    <template id="profile">
        <div class="loading" v-if="!loaded"><span>Loading...</span></div>
        <div class="content" v-if="loaded">
            <h2>Profile details</h2>
            <img v-attr="src: user.avatar.big" width="150" height="150">
            <span v-text="user.name"></span>
        </div>
    </template>

</body>
</html>